.post-screen-wrapper {
  .posts-title {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 30px;
  }
  .posts-description {
    margin-bottom: 10px;
    font-size: 20px;
  }

  .folder-name {
    border-radius: 10px;
    background-color: lightblue;
    width: fit-content;
    padding: 10px;
  }

  .edit-button {
    background-color: #0c5fab;
    border-radius: 10px;
    height: 45px;
    margin-left: 15px;
  }

  .cancel-button {
    background-color: lightgray;
    margin-bottom: 5px;
    border: none;
    margin-left: 15px;
    height: 45px;
    border-radius: 10px;
  }

  .qv-container {
    height: auto;
    width: auto;
    background-color: lightgray;
    border-radius: 10px;
    padding: 10px;
  }
  .student-answer {
    padding: 10px;
    background-color: rgb(228, 244, 228);
    border-radius: 10px;
    border: 1px solid lightgrey;
    margin-bottom: 10px;

    .letter-s {
      background-color: green;
      color: white;
      border-radius: 10px;
      border: 1px solid green;
      padding: 5px;
      margin-right: 10px;
    }
  }
  .timestamp {
    color: rgb(134, 133, 133);
    font-size: small;
  }
  .instr-answer {
    padding: 10px;
    background-color: rgb(242, 226, 195);
    border-radius: 10px;
    border: 1px solid lightgrey;
    margin-bottom: 5px;
    
    .letter-i {
      background-color: orange;
      color: white;
      border-radius: 10px;
      border: 1px;
      padding: 5px;
      margin-right: 10px;
    }
  }
  .followup {
    .followup-lists {
      .followup-item {
        border: 1px solid lightgray !important;
        margin-left: 10px;
        margin-bottom: 10px;
        border-color: lightgrey;
        border-radius: 10px;
        padding: 10px;
        .reply-item {
          background-color: rgb(238, 236, 236);
          border-radius: 10px;
          padding: 8px;
          margin-left: 14px;
          margin-bottom: 5px;
        }
        .reply-button {
          margin-top: 5px;
          margin-bottom: 5px;
          background-color: lightblue;
          padding: 5px;
          color: black;
          border-color: lightblue;
        }
      }
    }
  }
}
