@use "sass:string";
@use "sass:map";

@use "variables" as *;

// Returns the sass variable name as css variable.
@function vars($var_name){
    @if not map.get($variables, $var_name+''){
        @error "Variable `#{$var_name}` not found in map $variables";
    }
    @return var(--#{string.unquote($var_name)});
}

// Returns the actual value
@function varv($var_name){
    @if not map.get($variables, $var_name+''){
        @error "Variable `#{$var_name}` not found in map $variables";
    }
    @return map.get($variables, $var_name+'');
}