

@for $size from 1.0 to 10.0 {
    .w-#{$size * 10} {
        width: #{$size * 10}%;
    }
    .w-#{($size + 0.5) * 10} {
        width: #{($size + 0.5) * 10}%;
    }
}

* {
    box-sizing: border-box;
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
}

html, body {
    overflow: hidden;
}