@mixin xsBreakPoint {
    @media (max-width: 575.98px) {
        @content;
    }
}

@mixin smBreakPoint {
    @media (min-width: 576px) and (max-width: 767.98px) {
        @content;
    }
}

@mixin mdBreakPoint {
    @media (min-width: 768px) and (max-width: 991.98px) {
        @content;
    }
}

@mixin lgBreakPoint {
    @media (min-width: 992px) and (max-width: 1199.98px) {
        @content;
    }
}
@mixin xlBreakPoint {
    @media (min-width: 1200px) and (max-width: 1440px) {
        @content;
    }
}

@mixin xxlBreakPoint {
    @media (min-width: 1440.01px) and (max-width: 1680px) {
        @content;
    }
}

@mixin xxxlBreakPoint {
    @media (min-width: 1680.01px) {
        @content;
    }
}
