@use "../../scss" as *;

.manage-class-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    padding: 0;
    height: 65px;

    a {
        // max-width: 140px;
        width: fit-content;
        text-align: center;
        height: 100%;
        padding: 0px 28px;
        vertical-align: middle;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    a.active {
        background: white;
    }
}