@use "../../scss" as *;
@use "sass:color";

.manage-class-content-wrapper {
    margin: 0;
    padding-inline: 5vw;
    height: calc(100vh - var(--main-navbar-height) - 65px);
    position: relative;
    overflow-y: auto;

    --box-size: 220px;

    .class-manage-content {
        border-bottom: 1px solid vars(secondary-border-color);
        display: flex;
        gap: 25px;
        margin-top: 25px;
        padding-bottom: 20px;

        .content {
            width: calc(100% - var(--box-size));
        }

        .blue-info-box {
            border: 2px solid color.adjust(varv(primary-color), $lightness: -10%);
            border-radius: 8px;
            background-color: rgba(vars(primary-color_rgb) / 0.1);
            filter: brightness(150%);
            font-size: 0.9rem;
            padding: 10px 20px;
            width: var(--box-size);
            height: fit-content;

            b {
                color: color.adjust(varv(primary-color), $lightness: -10%);
            }
        }
    }

    .form-group {
        margin-bottom: 17px;

        label {
            font-weight: bold;
            margin-bottom: 5px;
        }
    }
}
